body{
  background-color: AliceBlue;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 60px;
}

h1{
  font-size:80px;
  color: Black;
  margin-bottom:20px;
  text-shadow:2px 2px Red;
}
